.active {
    border-bottom: 3px solid purple;
    font-weight: bold;
    color: purple !important;
}

a {
    color: white;
}

.btn-outline-primary:hover {
    color: white;
    background-color: purple;
    border-color: purple;
}